
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="javascripts/Table-With-Search.js"></script>
    <script src="javascripts/checked-count.js"></script>
    <script src="javascripts/data-table.ejs"></script>
    </body>

</html>