<nav class="navbar navbar-light navbar-expand-md pb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/images/Pivot-Logo.png" alt="" height="30"></a>
         <button data-toggle="collapse" class="navbar-toggler ml-auto" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
               
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">

                </li> 
            </ul>
            <a class="btn btn-secondary ml-2" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </div>
       
    </div>
</nav>

