<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#">Go Time</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/time">Time Entry</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/new-employee">New Employee</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/records">Time Records</a></li>
            </ul>
            <a class="btn btn-secondary ml-auto" href="/users/logout">Log Out</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-10 offset-1 text-right">
        <p><%= `${user.firstName}  ${user.lastName}`%> <br>
            <%= user.groupId%> <br>
            <%= user.ranch%>
        </p>
    </div>
</div>