$(document).ready(function ($){
	//--->make div editable > start
	let deleteId = null;

	// (event){
	// 	event.preventDefault();

	// 	let row_id = $(this).closest('tr').attr('row_id');

	// 	$('#modalUser').html(row_id);
		
	// }
	
	function createTable(employeeData){
		let tbl = '';
		tbl +='<table id="employee-data" class="table table-striped text-center pb-5">'
		tbl +='<thead class="bill-header cs">';
		tbl +='<tr>';
		tbl +='<th>Employee Id</th>';
		tbl +='<th>Last Name</th>';
		tbl +='<th>First Name</th>';
		tbl +='<th>Middle Name</th>';
		tbl +='<th>Wage</th>';
		tbl +='<th>Active</th>';
		tbl +='<th>Delete</th>';
		tbl +='</tr>';
		tbl +='</thead>';
		tbl +='<tbody>';
		
		for(let employee of employeeData){

			tbl += '<tr row_id="'+employee.sk+'">';
			tbl += '<td><div class="row_data" edit_type="click" col_name="employeeId">'+employee.employeeId+'</div></td>';
			tbl += '<td><div id="lastName" class="row_data" edit_type="click" col_name="lastName">'+employee.lastName+'</div></td>';
			tbl += '<td><div id="firstName" class="row_data" edit_type="click" col_name="firstName">'+employee.firstName+'</div></td>';
			tbl += '<td><div class="row_data" edit_type="click" col_name="middleName">'+employee.middleName+'</div></td>';
			if(employee.wage){
				tbl += '<td><div class="row_data" edit_type="click" col_name="wage">'+employee.wage+'</div></td>';
			}else{
				tbl += '<td><div class="row_data" edit_type="click" col_name="wage">0.00</div></td>';

			}
			tbl += '<td><div class="row_data" edit_type="click" col_name="active">'+employee.active+'</div></td>';
			// tbl +='<td scope="row" ><div class="row_data" edit_type="click" col_name="delete"><button class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal"><i class= "fas fa-trash text-light"></i></button></div></td>';
			tbl +='<td><div id="deleteUser"><button class="btn btn-danger"><i class= "fas fa-trash text-light"></i></button></div></td>';
			tbl += '</tr>';
		}

        tbl +='</tbody>';
		tbl +='</table>';
		
		$(document).find('.tbl-employee-data').html(tbl);
	}

	$(document).on('click', '#deleteUser', function(event) {
		event.preventDefault();
		const row_id = $(this).closest('tr').attr('row_id'); 

		$('#deleteUserModal').modal('show');

		$('#deleteUserModal').one('hide.bs.modal', async function (event) {
			var activeElement = $(document.activeElement);
			

			if (activeElement.is('[data-dismiss]')) {
				if (event.type === 'hide') {
					// Do something with the button that closed the modal
					if(activeElement[0]['id'] == 'cancel'){
						$('#deleteUserModal').modal('hide');
					}else if(activeElement[0]['id'] == 'confirm'){

						let data_obj = 
						{
							row_id,
							col_name: 'delete',
							col_val: ''			
						};
						//****** call db api to update the database record
						let response =  await $.post('get-employees/update', data_obj);
						
						$.get(`get-employees`, data => createTable(data));
					}
				}
			}
		});
	});

	$.get(`get-employees`, data => createTable(data));

	$(document).on('click', '.row_data', function(event) 
	{
		event.preventDefault(); 

		if($(this).attr('edit_type') == 'button')
		{
			return false; 
		}

		$(this).closest('div').attr('contenteditable', 'true');
		const columnName = $(this).attr('col_name');
		if(columnName == 'employeeId'){
			$(this).closest('div').attr('inputmode', 'decimal');
		}
		//make div editable
		//add bg css
		$(this).addClass('border border-success');

		$(this).focus();

		$(this).attr('original_entry', $(this).html());

    });
    

    $(document).on('focusout', '.row_data', async function(event) 
	{
		event.preventDefault();

		if($(this).attr('edit_type') == 'button')
		{
			return false; 
		}

		//get the original entry
		let original_entry = $(this).attr('original_entry');

		let row_id = $(this).closest('tr').attr('row_id'); 
		let row_div = $(this)				
		row_div.removeClass('border border-success') //add bg css
		.css('padding','')

        let col_name = row_div.attr('col_name'); 
		let col_val = row_div.html(); 

		let arr = {};
		//get the col name and value
        arr[col_name] = col_val; 
		//get row id value
        arr['row_id'] = row_id;

		if(col_val != original_entry && col_val != '' && col_val != ' ')
		{ 
			//remove the attr so that new entry can take place
			$(this).removeAttr('original_entry');

			//ajax api json data			 
			let data_obj = 
			{
				row_id,
				col_name,
				col_val				
			};
			console.log(data_obj)
            //****** call db api to update the database record
			let response =  await $.post('get-employees/update', data_obj);
			
			console.log(response);
			$.get(`get-employees`, data => createTable(data));
		}
		else
		{
			$(this).html(original_entry);
		}
		
	})	

});