<% include ./partials/_header.ejs%>
<% include ./partials/_navbar.ejs%>

<div class="container-md" style="padding-bottom: 0ox;">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" id="toggle-button">+ New Employee</button>
        </div>
    </div>
    <div class="row d-none" id="toggle-form">
        <div class="col-12">
            <form action="/new-employee" method="POST" style="padding-top: 80px;">
                <h1 class="text-center text-primary" style="padding-top: 10px;padding-bottom: 10px;">New Employee</h1>
                <% if(error) { %>
                    <p style="color:red;font-size: small;text-align: center;"> <strong> <%= error %> </strong></p>
                <% } %>
                <% if(message) { %>
                    <p style="color:green;font-size: small;text-align: center;"> <strong> <%= message %> </strong></p>
                <% } %>
                <div class="form-group" id="eId-input">
                    <label for="employeeId">Employee Id</label>
                    <input class="form-control" type="text" name="employeeId">
                </div>
                <div class="form-group" id="fname-input-1">
                    <label for="firstname">First Name</label>
                    <input class="form-control" type="text" name="firstName">
                </div>
                <div class="form-group" id="fname-input-1">
                    <label for="firstname">Middle Name</label>
                    <input class="form-control" type="text" name="middleName">
                </div>
                <div class="form-group" id="lname-input">
                    <label for="lastname">Last Name</label>
                    <input class="form-control" type="text" name="lastName">
                </div>
                <div class="form-group">
                    <span>Worker Type</span>
                    <br>
                    <input type="radio" name="position" value="manager" required>
                    <label for="position">Manager</label>
                    <br>
                    <input type="radio" name="position" value="worker" required>
                    <label for="asdf">Worker</label>
                </div>
                <button class="btn btn-primary btn-block button-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-md-12 search-table-col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        ...
                    </div>
                </div>
            </div>
            <div class="form-group pull-right col-lg-4">
                <input type="text" class="search form-control" placeholder="Search by typing here..">
            </div>
            <span class="counter pull-right"></span>
            <div class="results">
                <div class="table-responsive tbl-employee-data">
                    <div class="spinner-border" role="status">
						<span class="sr-only">Loading...</span>
					  </div>
				</div>
                <div class="panel panel-default">
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="./javascripts/Table-With-Search.js"></script>
<script src="./javascripts/Employee-Table.ejs"></script>
<script>
    $(document).ready(function ($){
        $("#toggle-button").click( function(){
            console.log('toggle')
            $("#toggle-form").toggleClass("d-none")
        })
    });
</script>
</body>

</html>